 body{
        padding: 0; 
        margin: 0; 
        text-align: center;
        background-color: white;
        font-family: arial;
        color:black;
    } 
    input{
        margin: 5px;
    }
    button{
        margin: 5px; 
    }
    .container{
        display: flex;
        justify-content: center;
    }
    #howto{
        width: 1000px;
        border-radius: 10px;
    }
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        position: absolute;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }